Repository openshift-assisted/assisted-installer-deployment, pull requests merged in 2021-08, with the labels that each got.

#126 fix all pep8 violations
  Dockerfile.build
  Makefile
  dev-requirements.txt
  setup.py
  skipper.yaml
  tools/add_pr_link_to_jira.py
  tools/add_triage_signature.py
  tools/assisted_installer_stable_promotion.py
  tools/check_ai_images.py
  tools/close_by_signature.py
  tools/create_testgrid_tickets.py
  tools/create_triage_tickets.py
  tools/github_prs_stats.py
  tools/jira_cmd.py
  tools/release_tickets.py
  tools/trace_go_mod_dependencies.py
  tools/triage_stats.py
  tools/triage_status_report.py
  tools/update_assisted_installer_yaml.py
  tools/update_default_release_versions_to_latest.py
  tools/update_hash.py
  tools/update_ocp_versions.py
  tools/version_documentation.py
Labels: approved, dco-signoff: no, do-not-merge/release-note-label-needed, size/L, lgtm

#127 use two different fields for jira credentials
  tools/triage_status_report.py
Labels: approved, do-not-merge/hold, size/S

#128 Overcome testgrid bug where grids with green 'Overall' are marked as FAILING
  tools/create_testgrid_tickets.py
Labels: approved, lgtm, size/S, ok-to-test

#129 Copy images with skopeo and add release Makefile targets
  Dockerfile.assisted-installer-deployment
  Dockerfile.build
  Makefile
  tools/assisted_installer_stable_promotion.py
Labels: approved, lgtm, size/M
